In [38]:
import pandas as pd
import numpy as np
import glob
alldata = pd.DataFrame()
for f in glob.glob("datasets/weekly_call_data/weekdata_*.xlsx"):
    df = pd.read_excel(f)
    alldata = data.append(df,ignore_index=True)
alldata.describe()

        CallDuration         age       grade
count  414541.000000  100.000000  100.000000
mean       12.512157   16.330000   82.500000
std         6.923889    1.717733   10.719095
min         1.000000   14.000000   65.000000
25%         7.000000   15.000000   73.000000
50%        13.000000   16.000000   82.000000
75%        19.000000   18.000000   92.000000
max        24.000000   19.000000  100.000000